*{
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  text-align: center;
}

#principal {
  width: 70%;
  height: 400px;
  margin-left: 27%;
}

#principal img {
  width: 70%;
  height: 170%
}

#secundario{
  margin-top: 300px;
  width: 80%;
  height: 300px;
  border-style: solid;
  border-width: 4px;
  color: black;
  margin-left: 10%;
  box-shadow: 0px 5px 5px black;
}

#secundario img{
  width: 23%;
  height: 100%;
  margin-left: 20px;
  opacity: 0.5;
  box-shadow: 0px 3px 3px black
}

#secundario img:hover {
  opacity: 1;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}